.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.charts-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.chart1 {
  box-sizing: border-box;
  display: block;
  height: 352px;
  width: 352px;
}
